app = "newyear-bot-test"
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "ams"  # Amsterdam, можно поменять на fra/lhr/etc.

[env]

[experimental]
  auto_rollback = true

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
